.header__box-list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.header__box-item {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: normal;
    text-transform: uppercase;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        color: $hover-color;
    }
}
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $secondary-bg-color;
    border-radius: 50px;
    margin-right: 10px;
}