.header__list {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .header__list {
      display: none;
    }
}
@media screen and (min-width: 768px) {
    .header__list {
      justify-content: center;
    }
    .header__list-item {
        display: flex;
        justify-content: space-between; 
        font-family: Roboto, sans-serif; 
        font-size: 11px;
        font-weight: 400; 
        color: $extra-text-color;
        padding: 10px 20px;
        text-transform: uppercase; 
        border-right: solid 1px #99989771;
        background-color: $secondary-bg-color;
        cursor: pointer;
        
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: $hover-bg-color;
        }
    }
}
@media screen and (min-width: 980px) {
    .header__list-item {
        display: flex;
        justify-content: space-between; 
        font-family: Roboto, sans-serif; 
        font-size: 16px;
        font-weight: 400; 
        color: $extra-text-color;
        padding: 10px 20px;
        text-transform: uppercase; 
        border-right: solid 1px #99989771;
        background-color: $secondary-bg-color;
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: $hover-bg-color;
        }
    }
}


