.header__language {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $extra-bg-color;
    padding: 8px 20px;
}
.header__language-box {
    display: flex;
    justify-content: end;
    width: 480px;
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 980px) {
        width: 980px;
    }
}
.header__language-list {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: $background-color;
    margin-right: 5px;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: $extra-text-color;
        background-color: $hover-color;
    }
}
