    $primary-text-color: #000000;
    $secondary-text-color: #2c2b2b71;
    $extra-text-color: #ffffff;
    $primary-bg-color: #c7c7c7;
    $hover-color: #6fbaf7;
    $extra-bg-color: #ffffff;
    // $extra-color: #000000;
    $background-color: #ededed;
    $secondary-bg-color: #484850;
    // $box-shadow: rgba(0, 0, 0, 0.15);
    // $box-link-color: #AFB1B8;