    $primary-text-color: #000000;
    $secondary-text-color: #2c2b2b71;
    $extra-text-color: #ffffff;
    $primary-bg-color: #c7c7c7;
    $hover-color: #6fbaf7;
    $extra-bg-color: #ffffff;
    $border-color: #2c2b2b;
    $background-color: #ededed;
    $secondary-bg-color: #484850;
    $background-btn: #5373db;
    // $box-link-color: #AFB1B8;